*{
	margin: 0;
	padding: 0;
}
.div_01{
	background: #3e89d5;
	width: 100%;
	height: 55px;
	line-height: 55px;
}
.div_01 h2,.div_01 p span{
	color: #E8F0F8;
}
.div_01 h2{
	font-size: 18px;
	margin-left: 22px;
}
.div_01 p{
	float: right;
	margin-right: 20px;
}
.div_01 p img{
	position: relative;
	top: 6px;
	right: -10%;
	margin-right:30px;
}
.div_01 p .div_01_img{
	position: relative;
	top: 3%;
	right: -2%;
}
.div_01 h2,.div_01 p{
	display: inline-block;
}
.div_02{
	width:180px;
	height: 860px;
	background: #33485d;
	float: left;
}
.div_02 li{
	height: 50px;
	list-style-type:none;
	/*text-align: center;*/
	line-height: 50px;
	padding: 2% 13%;
	/*border-bottom: 1px solid #f6f6f6;*/
}
.div_02 ._01{
	/*display: none;*/
}
.div_02 ._01 a{ 
	margin-left:15%;
}
.div_02 .AA a{
	color: #3d89d5;
	font-size: 14px;
	font-weight: bold;
}
.div_02 .div_02_li{
	background: #2A3C49;
}
.div_02 li img{
	position: relative;
	top: 9%;
	left: -6%;
}
.div_02 li a{
	color: #D4D7D9;
	text-decoration:none;
}
.div_03{
	/*border: 1px solid #f00;*/
	width: 99.8%;
	height: 833px;
	background: #f6f6f6;
	padding-top: 25px;
}
.div_03 p{
	font-size: 12px;
	color: #333;
	/*border: 1px solid #00f;*/
	margin-bottom: 25px;
	text-indent: 20px;
}
.div_03_01{
	/*border: 1px solid orange;*/
	width: 88%;
	height: 814px;
	margin-left:10.6%;
	background: #fff;
	padding-top: 20px;
}
.div_03_01 .manager{
	width: 98%;
	height: 735px;
	border: 1px solid #ccc;
	border-radius: 6px;
	margin:0 auto; 
}
.div_03_01 .manager p{
	height: 36px;
	line-height: 36px;
	font-family: '微软雅黑';
	font-size: 15px;
	border-bottom: 1px solid #ccc;
	width:98%;
	margin: 0 auto;
}
.div_03_01 .manager .name{
	width: 44%;
	height: 520px;
	/*border: 1px solid orange;*/
	margin:47px 7%; 
}
.div_03_01 .manager .name li{
	list-style-type:none;
	line-height: 30px;
}
.div_03_01 .manager .name li span{
	color: #999;
}
.div_03_01 .manager .name li h3{
	display: inline-block;
	font-weight: normal;
}
.div_03_01 .manager .name li img{
	margin:20px 13%; 
	cursor: pointer;
}
.div_03_01 .manager .name .selling{
	line-height: 45px;
	margin-left: -2%;
}
.div_03_01 .manager .name .selling span{
	margin-left:2%;
}
.div_03_01 .manager .name .selling a{
	margin-left:3%;
	text-decoration: none;
	color: #3A8AD2;
}
.div_03_01 .manager .name .status a{
	text-decoration: underline;
	color: #999;
}
.div_03_01 table a{
	
}
.div_03_01 table .first,.six,.seven,.eight,.ten,.eleven,.twelve,.fourteen{
	
}
.div_03_01 table .second,.four,.five,.nine,.thirteen{
	
}
.div_03_01 table .thr{
	

}
.div_03_01 table .four{
	
}
/*.div_03_01 table .four_img{
	
}*/
.div_03_01 table .eight{
	
}
.div_03_01 table .nine{
	
/*	border: 1px solid orange;*/
/*	width: 83%;
	height: 774px;
	margin-left:15%;*/
}
/*.div_03_01 table .nine{
	border-collapse: collapse;
	border-bottom: none;
}*/
.div_03_01 table .five{
	
}
.div_03_01 table .twelve{
	
}
.div_03_01 table .thirteen{
	
}
.div_03_01 table .second .add{
	
}
.div_03_01 table .first .fl{
	
}
.div_03_01 table .manager,.add{
	
}
.div_03_01 table .modify{
	
}
.div_03_01 table .save{
	
}















