body{
	background: url(../image/bj.png)no-repeat;
	background-size:cover; 
}
.objdiv{
	background: #fff;
	width: 1000px;
	height: 884px;
	border-radius: 8px;
	margin:80px auto;
}
.top{
	/*border: 1px solid #ccc;*/
	width: 848px;
	height: 50px;
	padding: 50px 75px;
}
.top img{
	position: relative;
	left: -4px;
}
hr{
	display: inline-block;
	position: relative;
	top: -9px;
}
#div{
	text-align: center;
}
.accout_01,.accout_02,.accout_03,.accout_04{
	display: inline-block;
	position: relative;
	top: 10px;
}
.accout_01,.accout_02{
	left:-28px;
	color: #87B8F3;
}
.accout_01{
	float: left;
}
.accout_02{
	position: relative;
	left: -14%;
}
.accout_03{
	float: right;
	left:-20px;
	/*color: #87b8f3;*/
}
.accout_04{
	position: relative;
	left: 7%;
	color: #87b8f3;
}
.form{
	padding-top:50px;
	width: 550px;
	height: 600px;
	/*border: 1px solid orange;*/ 
	margin:0 auto;
	text-align:center;
	margin-left: 188px;
}
.form .name{
	position: relative;
	top: 1%;
	left: 9%;
}
.form h3{
	
}
.form #h3_02{
	
}
.form img{
	margin-left: 40px;
}
.form span{
	position: relative;
	left: 6%;
	top: -83px;
}
.form h5{
	color: #ccc;
	position: relative;left: 6%;
	top: -6%;
}
.form .ipt{
	
}
.form input:nth-child(1),input:nth-child(2),input:nth-child(3),input:nth-child(5){
	
}
.form .cs{
	position: relative;
	left: 9%;
	top: 9px;
	margin: 1% 6%;
}
.form input{
	width: 244px;
	height: 36px;
	position: relative;
	top: 3%;
	left: 6%;
	margin: 5%;
}
span:hover{
	
}
.form button{
	font-family: '微软雅黑';
	border-radius: 2px;
	font-size: 16px;
}
.form .sub{
	width: 130px;
	height: 36px;
	background: #2A8DEE;
	color: #DFEBFc;
	margin-right: -24%;
	position: relative;
	top: -46px;
}
.form .prev{
	width: 110px;
	height: 36px;
	background: #F5F8FA;
	color: #9A9A9B;
	border: 1px solid #ccc;
	position: relative;
	top: -45px;
}
p{
	cursor: pointer;
    font-size: 12px;
    color: #333;
    text-align: right;
    margin: 1px 14px;
    display: inline-block;
}






