body{
	background: url(../image/bj.png)no-repeat;
	background-size:cover; 
}
.objdiv{
	background: #fff;
	width: 1000px;
	height: 884px;
	border-radius: 8px;
	margin:80px auto;
}
.top{
	/*border: 1px solid #ccc;*/
	width: 848px;
	height: 50px;
	padding: 50px 75px;
}
.top img{
	position: relative;
	left: -4px;
}
hr{
	display: inline-block;
	position: relative;
	top: -9px;
}
#div{
	text-align: center;
}
.accout_01,.accout_02,.accout_03{
	display: inline-block;
	position: relative;
	top: 10px;
}
.accout_01,.accout_02{
	left:-28px;
	color: #87B8F3;
}
.accout_01{
	float: left;
}
.accout_03{
	float: right;
	left:-11px;
	color: #87b8f3;
}
.form{
	padding-top:21px;
	width: 550px;
	height: 600px;
	/*border: 1px solid orange;*/ 
	margin:0 auto;
	text-align:center;
	margin-left: 188px;
}
.form h1{
	display: inline-block;
	font-weight: normal;
	color: #333;
}
.form h3{
	color: #999;
	margin-top: -7px;
	padding-left: 123px;
}
.form #h3_02{
	text-indent: 25px;
}
.form img{
	position: relative;
	top: 10px;
	left:-10px;
}
.form p span{
	
}
.form .true{
	
}
.form .ipt{
	
}
.form input:nth-child(1),input:nth-child(2),input:nth-child(3),input:nth-child(5){
	
}
.form .forever{
	
}
.form input{
	
}
span:hover{
	
}
span{
	
}
button{
	
}
p{
	cursor: pointer;
    font-size: 12px;
    color: #333333;
    text-align: right;
    margin: 1px 14px;
}






